/*  your css code here. If applicable */
body {
  margin: 0;
  background-color: white;
} 
#grid{
	border:1 solid black;

}
#grid {
  display: grid;
  grid-template-columns: 242.5px 242.5px 242.5px 242.5px;
  grid-template-rows: 124px 124px 124px 124px 124px;
  gap: 10px 10px;
  height: 100vh;
  background: white;
  padding: 5px;
}
#grid>div{
	background-color: #2d742d;
    color: white;
	font-size:30px;
	display:flex;
	align-items:center;
	justify-content:center;
}
#item1 {
  grid-column: span 4 / auto; /* spans 4 columns (1 → 5) */
}

#item2 {
  grid-row: span 4 / auto; /* spans 4 rows (2 → 6) */
}

#item3 {
  grid-column: span 1 / auto;
}

#item4 {
  grid-column: span 2 / auto; /* spans 2 columns (3 → 5) */
}

#item5 {
  grid-column: span 2 / auto; /* spans 2 columns (2 → 4) */
}

#item6 {
  grid-column: span 1 / auto;
}

#item7 {
  grid-column: span 1 / auto;
}

#item8 {
  grid-column: span 1 / auto;
}

#item9 {
  grid-column: span 1 / auto;
}

#item10 {
  grid-column: span 3 / auto; /* spans 3 columns (2 → 5) */
}