/*  your css code here. If applicable */
body {
  margin: 0;
  background-color: white;
} 
#grid{
	border:1 solid black;

}
#grid {
  display: grid;
  grid-template-columns: 242.5px 242.5px 242.5px 242.5px;
  grid-template-rows: 124px 124px 124px 124px 124px;
  gap: 5px;
  height: 100vh;
  background: white;
  padding: 5px;
}
#grid>div{
	background-color: #2d742d;
    color: white;
	font-size:30px;
	display:flex;
	align-items:center;
	justify-content:center;
}

#item1{
	grid-column:1/5;
	grid-row:1/2;
}
#item2{
	grid-column:1/2;
	grid-row:2/6;
	
}
#item3{
	grid-column:2/3;
	grid-row:2/3;
}
#item4{
	grid-column:3/5;
	grid-row:2/3
}
#item5{
	grid-column:2/4;
	grid-row:3/4
}
#item6{
	grid-column:4/5;
	grid-row:3/4;
}
#item7{
	grid-column:2/3;
	grid-row:4/5;
}
#item8{
	
	grid-row:4/5;
}
#item9{
	grid-row:4/5;
}
#item10{
	grid-column:2/5;
	grid-row:5/6;
}
